/* Floating Navbar Styles */
.navbar {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: whitesmoke;
  color: black;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dark-mode .navbar {
  background: rgba(30, 30, 30, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Logo */
.navbar-logo {
  width: 64px;
  height: 64px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.navbar-link {
  background: transparent;
  border: none;
  font-size: 16px;
  color:black;
  cursor: pointer;
  /* padding: 8px 12px; */
  gap: 10px;
  transition: 0.3s ease;
  margin-bottom: 5px;
  position: relative;
}
.dark-mode .navbar-link{
  color: #ffffff;  
}

.navbar-link:hover {
  color: inherit;
}

.navbar-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: black;
  transition: width .2s ease;
}

.navbar-link:hover:after {
  opacity: 0.7;
  outline: none;
  box-shadow: none;
  width: 100%;
}

/* Dark Mode Toggle */
.theme-toggle {
  font-size: 6px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

/* Login Button */
.login-button {
  background: #4285f4;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
  margin-left: auto;
}
.login-button:hover {
  background: #357ae8;
}

.navbar-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}