.games-container {
  text-align: center;
  padding: 20px;
}

.answer-container {
  margin-top: 20px;
}

.answer-container input {
  padding: 8px;
  font-size: 16px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.answer-container button {
  padding: 8px 15px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.answer-container button:hover {
  background-color: #218838;
}

.answer-container p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.answer-container p:empty {
  display: none;
}

.answer-container p::before {
  content: "💡 ";

}

.games-container {
  text-align: center;
  padding: 20px;
}

.answer-container {
  margin-top: 20px;
}

.answer-container input {
  padding: 8px;
  font-size: 16px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.answer-container button {
  padding: 8px 15px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.answer-container button:hover {
  background-color: #218838;
}

.answer-container p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.answer-container p:empty {
  display: none;
}

.answer-container p::before {
  content: "💡 ";
}

.timer-buttons {
  display: flex;
  gap: 10px; 
  justify-content: center; 
}

.timer-button {
  padding: 0.5em 1em;
  background-color: #00bcd4 !important;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.timer-button:hover {
  background-color: #ff4081 !important;
}
