:root {
  --app-background-color: #ffffff;
  --topic-box-text-color: black;
  --topic-box-hover-color: #008ac1;
  --topic-box-bg-color: #f9f9f9;
  --text-color: black;
  --flashcard-color: whitesmoke;
}

.dark-mode {
  --app-background-color: #121212;
  --topic-box-text-color: #ffffff;
  --topic-box-hover-color: #a5dff9;
  --topic-box-bg-color: #292929;
  --text-color: #ffffff;
  --flashcard-color: #292929;
}

body {
  background: var(--app-background-color);
  background-size: 500% 500%; 
  animation: gradientAnimation 6s ease infinite; 
  color: var(text-color);
  margin: 0;
  padding: 80px 0 0 0;
  font-family: "Archivo", sans-serif;
}

h1, h2, h3, p {
  color: var(--text-color);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #00bcd4);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #ff4081);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.read-the-docs {
  color: #b0b0b0;
}


.flashcard-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  z-index: 1;
  transform: scale(0.8);
  border: none;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.flashcard {
  width: 300px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  margin-bottom: 20px;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px;
  background-color: var(--flashcard-color);
  color: var(--text-color);
  border: 2px solid grey;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  width: auto;
  gap: 10px;
  padding-left: 10px;
}


.flashcard-form button {
  padding: 0.75em 1.5em;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flashcard-form button:hover {
  background-color: #ff4081;
}


.edit-icon {
  color: var(--topic-box-text-color);
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.edit-icon:hover {
  color: var(--topics-box-hover-color);
  transition: 0.2s ease;
}

.delete-icon {
  color: var(--topic-box-text-color);
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.delete-icon:hover {
  color: var(--topics-box-hover-color);
  transition: 0.2s ease;
}

button .edit-icon {
  border: none;
}


.edit-icon:hover svg {
  color: var(--navbar-hover-color);
  transition: 0.2s ease;
}

.delete-icon:hover svg {
  color: var(--navbar-hover-color);
  transition: 0.2s ease;
}


.fetch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  padding: 0.5em 1em;
  background-color: #00bcd4 !important;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fetch-button:hover {
  background-color: #ff4081 !important;
}


.nav-btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}


.nav-btn {
  padding: 0.75em 1.5em;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #ff4081;
  transform: translateY(-4px);
}

button {
  display: block;
  width: auto;
  margin-bottom: 10px;
}

.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main-menu-btn {
  padding: 0.75em 1.5em;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  margin-bottom: 20px;
}

.main-menu-btn:hover {
  background-color: #ff4081;
}

.main-menu-title {
  font-size: 5em;
  color: transparent;
  background: linear-gradient(45deg, #00bcd4, #ff4081);
  background-clip: text;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 2px;
}


